<!DOCTYPE html>
<html id="all">
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        {% include 'header.html' %}
        <div>
            {% include 'navbar.html' %}
        </div>
        <div>
            <p>
                <h4>This project strives to display how much trust we have in our government to fight climate change.</h4>
                 <br>
                 Climate change is global threat. Immediate, dramatic action must be taken to prevent a global catastrophe.
                 <br>
                 But are  the world's governmental systems prepared to take such drastic action? 
            </p>
        </div>
        {% include 'footer.html' %}
    </body>
</html> 