<!DOCTYPE html>
<html id="all">
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        {% include 'header.html' %}
        <div>
            {% include 'navbar.html' %}
        </div>
        <div>
            <p>
                <h4>This project strives to display how much trust we have in our government to fight climate change.</h4>
                 <br>
                 Climate change is global threat. Immediate, dramatic action must be taken to prevent a global catastrophe.
                 <br>
                 If left unchecked, global warming will lead to our planet becoming inhabitable with natural disaster, extreme heating,
                 <br>
                 drought, and famine. These issues affect everyone, and no country is safe from the threats posed by climate change.
                 <br>
                 <br>
                 Because it poses such a big threat, climate chage has been given 

            </p>
            <img src="/IMG_5320.JPG" alt="Prototype of webpage">
            <img src="/API_RQ.EST_DS2_en_csv_v2_90676.zip" alt="Prototype of webpage">
            <p>
                Early prototypes of the webpage design were made so that the project had a clear goal. By making clear guidelines from the start,
                <br>
                we were able to have a better idea of what we wanted our graphs to look like, and how we would tecnically achieve it.
            </p>
        </div>
        {% include 'footer.html' %}
    </body>
</html> 