<!DOCTYPE html>
<html>
{% include 'header.html' %}
<body>
  {% include 'navbar.html' %}
  <h1>Average citywide pollution data for {{ requestedYear }}</h1>
  <div id="maps">
    <div id="mapsvg" style="display: flex; justify-content: center;">
      {% include 'NYC_boroughs.svg' %}
    </div>
    
    <script id="mapScript">
      /*
      var x = 100 - {{ boroughBright[0] }}
      const elementsArrMh = document.getElementsByClassName("Manhattan");
      for (let i = 0; i < elementsArrMh.length; i++) {
        elementsArrMh[i].setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      }
      document.getElementById("Manhattan").setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      console.log(x);

      x = 100 - {{ boroughBright[1] }}
      const elementsArrBr = document.getElementsByClassName("Brooklyn");

      for (let i = 0; i < elementsArrBr.length; i++) {
        elementsArrBr[i].setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      }

      x = 100 - {{ boroughBright[2] }}
      const elementsArrQs = document.getElementsByClassName("Queens");

      for (let i = 0; i < elementsArrQs.length; i++) {
        elementsArrQs[i].setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      }
      x = 100 - {{ boroughBright[3] }}
      const elementsArrBx = document.getElementsByClassName("The_Bronx");

      for (let i = 0; i < elementsArrBx.length; i++) {
        elementsArrBx[i].setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      }
      x = 100 - {{ boroughBright[4] }}
      const elementsArrSi = document.getElementsByClassName("Straten_Island");

      for (let i = 0; i < elementsArrSi.length; i++) {
        elementsArrSi[i].setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      }
      */
      var x = 100 - {{ boroughBright[0] }}
      document.getElementById("Manhattan").setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      x = 100 - {{ boroughBright[1] }}
      document.getElementById("Brooklyn").setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      x = 100 - {{ boroughBright[2] }}
      document.getElementById("Queens").setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      x = 100 - {{ boroughBright[3] }}
      document.getElementById("The_Bronx").setAttribute("fill", "hsl(80, 40%, " + x + "%)");
      x = 100 - {{ boroughBright[4] }}
      document.getElementById("Straten_Island").setAttribute("fill", "hsl(80, 40%, " + x + "%)");
    </script>

    <div id="legend" style="display: flex; justify-content: center;">
      <svg fill="#ececec" stroke="black" viewbox="0 0 200 65" width="50%" height="10%" xmlns="http://www.w3.org/2000/svg">
        {% for i in range(10) %}
        <rect x="{{40+i+11*i}}" y="10" width="12" height="30" stroke-width="0.1" fill="hsl(80, 40%, {{100-i*10}}%)"/>
        <text x="{{46+i+11*i}}" y="45" text-anchor="middle" stroke-width="0.3"  font-size="0.3rem">{{ ((i+1) - 0) / (10 - 0) * (15 - 0) + 0 }}</text>
        {% endfor %}
        <text x="100" y="60" text-anchor="middle" stroke-width="0.01" style="fill: black;" font-size="0.6rem">Average *POLLUTION* (years)</text>
      </svg>
    </div>

  </div>
  {{dynamic_text}}
  <div style="display: flex; justify-content: center; scale: 200%;">
    <form action="/" method="GET">
      <label for="year">Choose a year:</label><br>
      <select name="year" id="year_select">
        {% for y in all_years %}
        <option value="{{y}}">{{y}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
      <form>
  </div>
  <br>
  <br>
  {% include 'footer.html' %}
</body>
</html>